body {
    font-family: sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
}

#game-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}

#tetris-canvas {
    border: 5px solid #333;
    background-color: #000;
}

#info {
    margin-left: 20px;
    text-align: left;
}

#next-canvas {
    border: 3px solid #333;
    background-color: #000;
}
